{% extends 'base.html.twig' %}

{% block title %}La Belle Oreille | {{ page }}
{% endblock %}

{% block body %}
	<div class="container" id="register">
        <h2 class="d-flex justify-content-center">{{ page }}</h2>

        {{ form_start(form) }}

		<div class="row d-flex justify-content-center">
			<div class="col-md-4">
                {{ form_row(form.prenom, {'label':"Prénom", 'attr':{
                    'placeholder': "Votre prénom ..."
                }}) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.nom, {'label':"Nom", 'attr':{
                    'placeholder': "Votre nom ..."
                }}) }}
            </div>
        </div>

        <div class="row d-flex justify-content-center">
			<div class="col-md-4">
                {{ form_row(form.telephone, {'label':"Téléphone (optionnel)", 'attr':{
                    'placeholder': "Votre téléphone ..."
                }}) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.ville, {'label':"Ville (optionnel)", 'attr':{
                    'placeholder': "Votre ville ..."
                }}) }}
            </div>
        </div>

        <div class="row  d-flex justify-content-center">
            <div class="col-8">
                {{ form_row(form.email, {'label':"Email", 'attr':{
                    'placeholder': "Votre email ..."
                }}) }}
            </div>
            <div class="col-8">
                {{ form_row(form.password, {'label':"Mot de passe", 'attr':{
                    'placeholder': "Votre mot de passe ..."
                }}) }}
            </div>
            <div class="col-8">
                {{ form_row(form.passwordConfirm, {'label':"Confirmer mot de passe", 'attr':{
                    'placeholder': "Confirmation du mot de passe ..."
                }}) }}
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <button type="submit" class="btn btn-success d-flex justify-content-center">S'inscrire</button>
            </div>
        </div>
        

        {{ form_end(form) }}
	</div>
{% endblock body %}
