<div class="container-fluid" id="banniere" style="
background: linear-gradient(45deg, rgba(0, 0, 0, 0.2)50%, rgba(0, 0, 0, 0.2)50%), url(/backgrounds/{{ general.imageBanniere }});
background-size: cover;
background-position: center;
background-attachment: fixed;">

	<div class="row d-flex justify-content-center align-items-center">
		<div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
            <img class="logoText img-fluid" src="/logos/{{ general.logo3 | raw }}" alt="logoText">
            <p class="phraseTitre">{{ general.phraseTitre | raw  }}</p>
            <img src="/logos/{{ general.logo | raw  }}" alt="logo" class="logo" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1000">
            <p class="page">{{ page }}</p>
        </div>
	</div>
    
</div>
