<div class="container-fluid" id="footer">
	<div class="row">
		<div class="footer1 col-lg-4 d-flex flex-wrap justify-content-center align-items-center">
            <a href="{{ path('home') }}">Accueil</a>
            <a href="{{ path('prestation') }}">Prestations</a>
            <a href="{{ path('contact') }}">Contact</a>
            <a href="{{ path('actu') }}">Actualités</a>
            <a href="/">Galerie Photos</a>
            <a href="/">Vos fichiers</a>
            <a href="/">Inscription / Connexion</a>
        </div>
        <div class="footer2 col-lg-4 d-flex justify-content-center align-items-center">
            <p>©2021 | La Belle Oreille</p>
        </div>
        <div class="footer3 col-lg-4 d-flex justify-content-center align-items-center">
            <div class="reseaux d-flex justify-content-center">
				<a href="{{ general.lienFacebook }}">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="{{ general.lienInstagram }}">
					<i class="fab fa-instagram"></i>
				</a>
			</div>
        </div>
	</div>
</div>
