<nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home') }}">
            La Belle Oreille
        </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('prestation') }}">Prestations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('contact') }}">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('actu') }}">Actualités</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('galerie') }}">Galerie Photos</a>
				</li>
                <li class="nav-item">
					<a class="nav-link" href="{{ path('fichier') }}">Vos fichiers</a>
				</li>
				{% if is_granted("ROLE_ADMIN") %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('admin') }}" target="_blank">Admin</a>
				</li>
				{% endif %}
			</ul>

			{% if app.user %}
				<a href="{{ path('account') }}" class="inscription"><i class="fas fa-user"></i>Profil</a>
			{% else %}
				<a href="{{ path('app_register') }}" class="inscription"><i class="fas fa-sign-in-alt"></i>Inscription</a>
				<a href="{{ path('app_login') }}" class="inscription"><i class="fas fa-user"></i>Connexion</a>
			{% endif %}

			{# <div class="reseaux d-flex justify-content-start">
				<a href="{{ general.lienFacebook }}" target="_blank">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="{{ general.lienInstagram }}" target="_blank">
					<i class="fab fa-instagram"></i>
				</a>
			</div> #}

		</div>
	</div>
</nav>