{% extends 'base.html.twig' %}

{% block title %}La Belle Oreille |
	{{ actu.titre }}
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-lg-12 d-flex justify-content-center">
				<h1>{{ actu.titre }}</h1>
			</div>
            <div class="col-lg-12 d-flex justify-content-center">
                <small class="date">Le {{ actu.createdAt | date("d/m/Y") }} à {{ actu.createdAt | date("H:i") }}</small>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 d-flex justify-content-center">
				<a href="/images/{{ actu.image }}">
					<img src="/images/{{ actu.image }}" class="img-fluid">
				</a>
			</div>
		</div>
        <div class="row">
			<div class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
				{{ actu.contenu | raw }}
			</div>
		</div>
	</div>

{% endblock %}
