{% extends 'base.html.twig' %}

{% block title %}La Belle Oreille | Prestations{% endblock %}

{% block body %}

<div class="container-fluid" id="prestations">
	<div class="row">
	
	<div class="col-xl-3 col-lg-4">
		<h2>Catégories</h2>
		<ul class="list-group">
		{% for categorie in categories %}
			<a href="{{ path('show_prestations', {'id':categorie.id}) }}">
				<li class="list-group-item d-flex justify-content-between align-items-center">
					{{ categorie.nom }}
					<span class="badge bg-secondary">{{ categorie.prestations | length }}</span>
				</li>
			</a>
		{% endfor %}
		</ul>
	</div>
	
    {% for prestation in prestations %}
		<div class="col-xl-3 col-lg-4">
			<div class="card" data-aos="flip-left" data-aos-duration="2000">
				<div class="card-body">

                    {# TITRE #}
					<h5 class="card-title">{{ prestation.titre }}</h5>

                    {# CATEGORIE #}
                    {% for categorie in prestation.categorie %}
					<h6 class="card-subtitle mb-2 text-muted"> | {{ categorie.nom }}</h6>
                    {% endfor %}

                    {# CONTENU #}
					<p class="card-text">{{ prestation.contenu | raw }}</p>

                    {# AUDIO #}
					{% for audio in prestation.audio %}
						<figcaption>{{ audio.nom }}</figcaption>
						<audio src="/audios/{{ audio.lien }}" controls></audio>
					{% endfor %}
				</div>
			</div>
		</div>
    {% endfor %}
	</div>
</div>

{% endblock %}