{% extends 'base.html.twig' %}

{% block title %}Adresse index
{% endblock %}

{% block body %}

	<div class="container adresse">

		<h1>Adresse index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Entreprise</th>
					<th>Adresse</th>
					<th>Complement</th>
					<th>Telephone</th>
					<th>Ville</th>
					<th>CodePostal</th>
					<th>Pays</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for adresse in adresses %}
					<tr>
						<td>{{ adresse.id }}</td>
						<td>{{ adresse.nom }}</td>
						<td>{{ adresse.entreprise }}</td>
						<td>{{ adresse.adresse }}</td>
						<td>{{ adresse.complement }}</td>
						<td>{{ adresse.telephone }}</td>
						<td>{{ adresse.ville }}</td>
						<td>{{ adresse.codePostal }}</td>
						<td>{{ adresse.pays }}</td>
						<td>
							<a href="{{ path('adresse_show', {'id': adresse.id}) }}">show</a>
							<a href="{{ path('adresse_edit', {'id': adresse.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('adresse_new') }}">Create new</a>

	</div>

{% endblock %}
