<div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
	<h3>{{ admin.prenom }}
		{{ admin.nom }}</h3>
	<p>{{ admin.telephone }}</p>
	<p>{{ admin.email }}</p>
	<p>{{ admin.ville }}</p>
</div>
